<div
  hidden
  data-client-i18n
  data-show="<%= t('Show') %>"
  data-hide="<%= t('Hide') %>"
  data-show-password="<%= t('Show password') %>"
  data-hide-password="<%= t('Hide password') %>"
  data-confirm-continue="<%= t('Do you want to continue?') %>"
  data-file="<%= t('file') %>"
  data-files="<%= t('files') %>"
  data-item="<%= t('item') %>"
  data-items="<%= t('items') %>"
  data-uploading="<%= t('Uploading…') %>"
  data-no-item-selected="<%= t('No item selected') %>"
  data-one-selected="<%= t('1 selected · {{name}}', { name: '{{name}}' }) %>"
  data-delete-file-confirm="<%= t("Permanently delete '{{name}}'?", { name: '{{name}}' }) %>"
  data-all-files="<%= t('All files') %>"
></div>
